// Here you can add other styles
@media (min-width: 992px) {
  .sidebar-fixed .sidebar {
    width: $sidebar-width;
  }
}

.sidebar .nav {
  width: $sidebar-width;
}

.app-header .navbar-brand {
  width: $sidebar-width - 45px;
}

@media (max-width: 991.98px) {
  .app-header .navbar-brand {
    margin-left: ($sidebar-width - 45px) / 2 * -1;
  }
}

td.details-control {
  width: 20px;
  background: url('../img/details_open.png') no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url('../img/details_close.png') no-repeat center center;
}

#error_message.form-group .invalid-feedback {
  display: block;
}